<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Pelican" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        {% assets filters="libsass,cssmin", output="css/style.min.css", "css/style.scss" %}
  	<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}"> {% endassets %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% block extra_head %}{% endblock extra_head %}
        {% endblock head %}
</head>

{% block body_class %}
<body>
{% endblock body_class %}

<main>
  <header class="top">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    

    
                <nav id="menu"><ul id="menu-list">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                </ul></nav>
    

  </header>
  <!-- /#banner -->

  {% block content %} {% endblock %}

  <footer id="content-info" class="body">
    <h2>
    <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
  </h2>
    <div class="dashboard">
      <ul class="cols">
              <!---
        <li>
          <h3>Server Stats</h3>
          <p>
          Location: Barcelona<br>
          Time: <span id="time">Local Time</span><br>
          Battery Status:
            <span class="bat_status" id="dashboard_level">battery capacity</span> capacity, <span id="charge_text">chargin / draining</span><br>
          Power Used: <span id="power">power usage</span><br>
          Uptime: <span id="uptime">up since</span><br>
          </p>
        </li>
        <li>
          <h3>Forecast</h3>
          <div class="forecast"></div>
        </li> --->
        <!---
        <li>
          <h3>Info</h3>
          <p>
            <a href="{{ SITEURL }}/about.html">About the site</a><br>
            <a href="{{ SITEURL }}/power.html">Power</a><br>
            <a href="{{ SITEURL }}/colophon.html">Colophon</a><br>
            <a href="{{ SITEURL }}/donate.html">Donate</a>
          </p>
          <p><a href="{{ SITEURL }}/privacy.html">Privacy Policy</a></p>
        </li>--->

        {% if INFO %}
        <li>
                        <h3>{{ INFO_WIDGET_NAME | default('Info') }}</h3>
                        {% for name, link in INFO %}
                            <a href="{{ link }}">{{ name }}</a><br>
                        {% endfor %}
                        <a rel="me" href="https://octodon.social/@kg6gfq">April on Mastodon</a><br>
                        <a rel="me" href="https://neuromatch.social/@forth">April on the Fediverse</a>
        </li>
        {% endif %}
        
        {% if LINKS %}
        <li>
                        <h3>{{ LINKS_WIDGET_NAME | default('Links') }}</h3>
                        {% for name, link in LINKS %}
                            <a href="{{ link }}">{{ name }}</a><br>
                        {% endfor %}
        </li>
        {% endif %}
        <li>
          <h3>Contact</h3>
          <p>
          April Wick<br>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nc-sa/3.0/80x15.png" /></a><br>
          april [at] aprilwick [dot] com</p>
          {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
          <div class="social">
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"><svg viewBox="0 0 80 80" class="icon"><title>rss</title><circle cx="19.91" cy="58.23" r="6.86"/><path d="M67.89,65.72H55.7A41.86,41.86,0,0,0,13.89,23.91V11.73A54.06,54.06,0,0,1,67.89,65.72Z"/><path d="M48.93,65.72H36.75A22.88,22.88,0,0,0,13.89,42.87V30.68A35.08,35.08,0,0,1,48.93,65.72Z"/></svg></a>
            <a href="mailto:april@aprilwick.com"><svg viewBox="0 0 80 80" class="icon"><title>email</title><path d="M4.95,13.14v55H74.33v-55Zm54.34,8.12L39.64,39.74,20,21.26ZM13.07,60V25.91l26.56,25,26.57-25V60Z"/></svg></a><br>
            {% for name, link in SOCIAL %}
            <a href="{{ link }}">{{ name }}</a>
            {% endfor %}
         </div>
          <!-- /.social -->
          {% endif %}
        </li>
      </ul>
    </div>
  </footer>
<!---
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="https://getpelican.com/">Pelican</a>, which takes great advantage of <a href="https://www.python.org/">Python</a>.
                </address><!-- /#about 

                <p>The theme is the result of mashing together Minimal Mistakes by <a href="https://www.smashingmagazine.com/2009/08/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a> and Solar by (I should find out and link to them).</p>
        </footer><!-- /#contentinfo 
--->

</body>

</html>
