/*
	Theme Name: Solar
	Theme URI: https://github.com/lowtechmag/solar
	Description: Solar is a pelican theme designed for https://solar.lowtechmagazine.com. It is an attempt to radically reduce the energy use the associated with accessing our content.
	Version: 1.0
	Author: Marie Otsuka, Roel Rosam Abbing
  Author URI: http://motsuka.com/, http://roelof.info/
	License: AGPL 3.0
	License URI: https://choosealicense.com/licenses/agpl-3.0/
*/
$color: black;
$color_sky: #f0f8ff;
$color_sub: #adadad;
$color_bg: #fff5d1;
$color_low: #162dab;
$color_hig: #d11305;
$color_obs: #006951;
$pad: 0.5rem;
$font_s: 0.8rem;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 20px;
}

body {
	background: $color_sky;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.5rem;
	line-height: 0.95;
	text-indent: -.15rem;
}

h3 {
	font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
	line-height: 1.4;
}

a {
	color: $color;
	text-decoration: none;
	&:hover{
		color: $color_sub !important;
		text-decoration: none;
	}
}

#content {
	margin: auto;
	padding-bottom: 2*$pad;
}

#content h1 {
	margin-top: 2*$pad;
	line-height: 1.1;
}

/*
BACKGROUND and BATTERY METER
*/
#battery {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background: $color_bg;
}

#bat_data {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	font-size: 0.75rem;
	text-align: right;
	padding: 3px .5rem 0 0;
	border-top: 1px solid $color;
}

#charge_icon svg {
	vertical-align: bottom;
}

.bat_status {
	display: inline-block;
}

.bat_icon {
	display: inline-block;
  width: 15px;
  vertical-align: bottom;
}

.svg_stroke {
	fill:none;
	stroke: $color;
	stroke-miterlimit:10;
	stroke-width:33px;
}
.svg_fill {
	fill:$color;
}

a:hover {
	.svg_stroke{
		stroke: $color_sub;
	}
	.svg_fill{
		fill: $color_sub;
	}
	.icon{
		fill: $color_sub;
	}
}

main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 2*$pad;
}
/*
CATEGORY COLORS
*/
.description p {
	display: none;
}

.low, li.low {
	.featured-img, p.img {
		background-color: $color_low;
	}
	.category {
		color: $color_low;
	}
	.category-low{
		display: block;
	}
}

.hig, li.hig {
	.featured-img, p.img {
		background-color: $color_hig;
	}
	.category {
		color: $color_hig;
	}
	.category-hig{
		display: block;
	}
}

.obs {
	.featured-img, p.img {
		background-color: $color_obs;
	}
	.category {
		color: $color_obs;
	}
	.category-obs{
		display: block;
	}
}

header.top {
	padding-bottom: $pad;
	border-bottom: 2px solid $color;

	h1 {
		text-transform: uppercase;
	}
}
/*
NAVIGATION
*/
#menu-s {
	display: none;
}
#menu {
	ul {
		display: inline-block;
	}
	.category {
		margin: 0;
	}
	li {
		display: inline-block;
	}
	li::after{
		content: " | ";
	}
	li:last-child::after{
		content: "";
	}
}

#menu-list .social {
			position: relative;
	    top: 3px;
	    left: -5px;
}

nav .category {
	display: inline-block;
}

.subtitle {
	margin: 0.5*$pad 0;
	.icon {
		position: relative;
    top: 3px;
	}
}

.gray {
	color: $color_sub;
}

.social {
	a:last-child {
		padding-left: 5px;
	}
}

.icon {
	width: 20px;
	height: 20px;
}

.bar {
	width: 100px;
	background: black;
	margin: 10px;
}

/*
INDEX LIST
*/
time {
	display: block;
	color: $color_sub;
	font-size: $font_s;
}

.cols {
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	li {
		max-width: 25%;
		padding: 2*$pad 2*$pad 2*$pad 0;
	}
	li:nth-child(4n) {
		padding-right: 0;
	}
	time {
		margin-top: 0.5*$pad;
	}
}

.cover {
	li{
		flex: 1;
	}
	li:nth-child(2) {
		flex: 3;
    max-width: none;
		padding-right: 0;
	}
	.featured-img {
		height: 500px;
		background-size: 100%;
	}
}

//article thumbnail images on listings
.featured-img {
	margin: $pad 0;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: hard-light;
	mix-blend-mode: multiply;
}

.category {
	display: block;
	margin: 0.5*$pad 0;
}

.popular {
	display: none;
	li {
		max-width: 25%;
	}
	h2 {
		font-size: 1rem;
	}
	.category,.index-summary {
		font-size: $font_s;
	}
}

.index1 .popular {
	display: flex;
}

.paginator {
	margin: 2rem auto;
  text-align: center;
  font-size: 1rem;
	a {
		font-size: 1.5rem;
	}
}

/*
ARCHIVES
*/
#archive {
	list-style-type: none;
	margin-bottom: 2rem;

	li {
		padding: 0.5*$pad 0;
		overflow: auto;
		border-bottom: 2px solid transparent;

		&:hover {
			border-color: $color;
		}
	}

	.category, .entry-title, time {
		float: left;
		padding-right: $pad;
	}

	time {
		color: black;
		font-size: 1rem;
	}

	time, #date {
		width: 20%;
	}

	#title,
	.entry-title {
		width: 60%;
	}

	#cat,
	.category {
		margin: 0;
		width: 20%;
	}
}

#filters {
	padding: 0.5*$pad 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	overflow: auto;
	color: $color;

	> div {
		float: left;
	}
}

.filter {
	&:hover {
		cursor: pointer;
	}
}

.filter.active.asc {
	&::after {
		content: "\2191";
	}
}

.filter.active.desc {
	&::after {
		content: "\2193";
	}
}

/*
ARTICLE TYPOGRAPHY
*/
.post-info {
	overflow: auto;
	margin-top: 0.5*$pad;
	font-size: $font_s;

	time {
		float: left;
		font-style: normal;
		padding-right: 0.2rem;
	}

	address {
		float: left;
		font-style: normal;
		padding-right: $pad;
	}
}

.entry-content a, .tags a, footer#content-info a, p.summary a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.entry-content {
	h2, h3, h4, h5, p, ol, ul {
		max-width: 33rem;
		width: 80%;
	}

	h2 {
		font-size: 2rem;
		text-indent: -.15rem;
		margin: 6*$pad auto 0;
	}

	h3 {
		margin: 4*$pad auto 0;
	}

	p {
		margin: 2*$pad auto;
	}

	ol, ul {
		margin: 2*$pad auto;
		line-height: 1.4;
	}

	p.img {
		max-width: none;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		mix-blend-mode: multiply;
		margin-bottom: 0.5*$pad;
	}

	p.fullimage {
		max-width: 100%;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		mix-blend-mode: multiply;
		margin-bottom: 0.5*$pad;
	}

	img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		mix-blend-mode: hard-light;
	}

	.caption {
		max-width: 33rem;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		font-size: $font_s;
	}

	li {
		margin-left: 2*$pad;
		margin-bottom: $pad;
	}
}

p.summary {
	font-size: 1.5rem;
	text-indent: 0;
	margin-top: 2*$pad;
	line-height: 1.2;
}

blockquote {
	p {
		font-size: 1.3rem;
		line-height: 1.3;
		text-indent: 0;
	}
	margin: 2*$pad 0;
	border: 1px solid $color;
	border-width: 2px 0;
}

.longquote {
	margin: 2*$pad 2*$pad 0;
	border-left: 1px solid $color;
	padding-left: 2*$pad;
	p {
		font-size: 0.9rem;
	}
}

iframe {
	margin: auto;
  display: block;
}
/*
FOOTNOTES
*/
hr {
	border: 0;
	border-top: 2px solid black;
}

.footnote {
	font-size: $font_s;
	padding-top: $pad;
	width: 80%;
	max-width: 33rem;
	margin: auto;

	ol {
		width: 100%;
	}

	p {
		line-height: 1.2;
		word-wrap: break-word;
		margin: 0;
		width: 100%;
	}
}

sup {
	vertical-align: baseline;
	font-size: 0.75rem;
}

sub {
	vertical-align: baseline;
	font-size: 0.75rem;
}

.ref {
	border: 1px solid $color;
	padding: $pad;
	background: #fff;
	z-index: 10;
	position: absolute;
	right: 0;
	width: 300px;
	margin-top: -2rem;
	max-width: 50%;
	display: none;

	p {
		margin: 0;
		word-wrap: break-word;
		display: inline;
	}

	&:hover {
		cursor: pointer;
	}

	.footnote-backref {
		display: none;
	}
}

a.footnote-ref {
	text-decoration: none;
	padding-right: 0.5*$pad;

	&:hover {
		cursor: pointer;
	}
}

[id^=fn] {
	.ref {
		text-indent: 0;
	}
}

.show {
	.ref {
		display: block;
	}
}

/*
COMMENTS
*/

#comment-list {
	font-size: .75rem;
	font-family: monospace;
	counter-reset: comments;
	a {
		word-wrap: break-word;
	}
}

h5 {
	margin: auto;
	font-size: .75rem;
	border-top: 2px solid black;
	padding-top: $pad;
	&::before {
		counter-increment: comments;
	  content: counter(comments) ")";
		padding-right: 5px;
	}
}

.button {
	display: block;
	padding: $pad;
	border: 2px solid $color;
	border-width: 2px;
	text-align: center;
	margin: 1rem auto;
	width: 400px;
	&:hover {
		cursor: pointer;
		color: $color_sub;
		border-color: $color_sub;
	}
	.icon {
		vertical-align: bottom;
	}
}


.hidden {
	display: none;
	visibility: hidden;
}

footer#content-info {
	.support {
		float: left;
		margin-top: $pad;
		width: auto;
	}
	border-top: 2px solid $color;
	padding: $pad 0;
	overflow: auto;
	h2 a {
		text-decoration: none;
	}
}

address {
	p {
		display: inline;
	}
}

.related, #post-nav {
	border-top: 2px solid black;
	padding-top: $pad;
}

#post-nav {
	width: 100%;
	list-style-type: none;
	overflow: auto;
	margin-bottom: 2*$pad;

	li {
		display: block;
		float: left;
		width: 50%;
	}

	li.newer {
		padding-right: $pad;
	}

	li.older {
		float: right;
	}

	.gray {
		font-size: $font_s;
	}
}
// FOOTER

footer {
	.dashboard {
		.weather_day::before {
			content: " ";
			display: block;
		}
		.weather_day:first-child::before {
			content: "";
		}
		li {
			width: 25%;
		}
	}
}

//weather icon image sprite
.weather_icon {
  background: url(/extra/weather_sprite.png);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 3px;
  background-size: 120px;
	background-position: -40px 0;
}

.partly-cloudy-day {
  background-position: -20px 0;
}
.clear-day {
  background-position: 0 0;
}
.clear-night {
  background-position: -60px 0;
}

.partly-cloudy-night {
  background-position: -80px 0;
}
.rain {
  background-position: -100px 0;
}

footer .weather_text {
	display: none;
}

.entry-content .weather_text {
	display: inline-block;
	padding-left: 0.25rem;
}

.entry-content .weather_day {
	margin-top: 1rem;
  display: block;
  text-transform: uppercase;
}

// Server Stats
dl {
    margin-bottom:50px;
}

dt, dd {
	padding: $pad 0;
	border-bottom: 2px solid $color;
}

dt {
	width: 300px;
	float: left;
	padding-right: 1rem;
}

/*
MEDIA QUERIES
*/
@media screen and (max-height: 719px) {
	.img img {max-height: 300px;}
}

@media screen and (min-height: 720px) {
	.img img {max-height: 640px;}
}

@media screen and (min-height: 1080px) {
	.img img {max-height: 1020px;}
}

@media screen and (max-width: 1100px) {
	.cols li {
		max-width: 50%;
		&:nth-child(2n){
			padding-right: 0;
		}
	}
	.cover li:nth-child(2){
		flex: 1;
	}
	.cover li {
		max-width: 50%;
		.featured-img{
			height: 300px;
			background-size: auto 140%;
		}
	}
	.featured-img {
			background-size: 120%;
	}
}

@media screen and (max-width: 890px) {
	#menu-s {
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-top: .25rem;
		&:hover {
			cursor: pointer;
			color: $color_sub;
		}
	}

	#menu-list {
		height: 0;
		overflow: hidden;
		transition: height 300ms ease-in-out;
	}

	#menu-list.show {
		height: 240px;
	}

	#menu {
		ul {
			display: block;
		}
		li {
			display: block;
			margin: $pad 0;
		}
		li::after, li:last-child::after{
			content: "";
		}
		li.social {
			margin-left: -.25rem;
		}
	}
	footer .cols li {
		width: 50%;
	}
}


@media screen and (max-width: 666px) {
	h1 {
		font-size: 2rem;
	}

	.top h1 {
		font-size:2rem;
	}

	.cols.cover {
		flex-direction: column-reverse;
	}

	.cover li, .cover li:nth-child(2) {
		width: 100%;
		padding: 0;
	}

	.cols li {
		max-width: 100%;
		padding-right: 0;
	}

	footer .cols li {
		width: 100%;
	}

	.button {
		width: 100%;
	}

	.entry-content {
		h2 {
			font-size: 1.5rem;
			margin-left: 0;
		}
		h3 {
			margin-left: 0;
		}
		p, ul, ol, h5 {
			width: 100%;
		}
	}

	.footnote {
		width: 100%;
	}

	#archive {
		li:hover{
			border-color: transparent;
		}
		.dl, .dl-label {
			display: none;
		}
		#date, #title, #cat {
			width: 33%;
		}
		.category, .entry-title, time {
			float: none;
			width: 100%;
			padding-right: 0;
			margin: 5px 0;
		}
		time, .category {
			font-size: $font_s;
		}
	}
	dt, dd {
		padding: 0;
	}

	dt {
		border-bottom: 0;
		width: 100%;
		float: none;
	}
}


@media print {
	html {
		font-size: 10.5pt;
	}
	body {
		background: none;
	}
	h1, footer h2 {
		font-size: 1.2rem;
		margin: 0;
		display: inline-block;
	}
	.subtitle {
		display: inline-block;
		margin: 0;
		.icon {
			height: 1rem;
		}
	}
	#content h1.entry-title {
		font-size: 2rem;
		margin-top: 2rem;
	}
	p.summary {
		margin-bottom: 1rem;
	}
	.entry-content {
		columns: 2;
		column-gap: 20pt;
		a {
			text-decoration: none;
		}
		a:after {
			content:" (" attr(href) ") ";
			font-size: $font_s;
			font-weight: normal;
		}
		h2 {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
		p.img {
			max-width: none;
			margin: 1rem auto 0.5rem auto;
			background-color: white !important;
			mix-blend-mode: normal !important;
			page-break-inside: avoid;
			img {
				max-width: 100%;
				mix-blend-mode: normal !important;
			}
		}
		p.caption {
			margin-bottom: 1rem;
		}
		h2, h3, p, .footnote {
			max-width: none;
			width: 100%;
		}
		p {
			margin: 0;
			line-height: 1.2;
			text-indent: 2rem;
		}
		h2+p, p.caption, p.caption+p, .footnote p {
			text-indent: 0;
		}
		blockquote p {
			line-height: 1.1;
			text-indent: 0;
			margin: 1rem 0;
			page-break-inside: avoid;
		}
	}
	#bat_data {
		display: none;
	}
	nav, #battery, #comment-list, #related, #post-nav, ul.cols .featured-img, footer .dashboard {
		display: none;
	}
	ul.cols	li {
		max-width: 50%;
	}
}
